<template>
    <div data-elementor-type="wp-post" data-elementor-id="36284" class="elementor elementor-36284">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-3b785130 elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle wdp-sticky-section--no"
            data-id="3b785130" data-element_type="section" id="header">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b84a247 wdp-sticky-section--no"
                    data-id="b84a247" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-28d9e36a wdp-sticky-section--no  elementor-widget elementor-widget-heading"
                            >
                            <div class="elementor-widget-container">
                                <h1 class="elementor-heading-title elementor-size-default">THE WEDDING OF</h1>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6b062393 wdp-sticky-section--no  elementor-widget elementor-widget-heading"
                            data-id="6b062393" data-element_type="widget">
                            <div class="elementor-widget-container">
                                <h1 class="elementor-heading-title elementor-size-defaut">Orlin &amp; Galih</h1>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-74bb82d5 wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="74bb82d5" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-75d5bd75 wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="75d5bd75" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Kepada Yth :</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-79dfa4f6 namatamu wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="79dfa4f6" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default" id="namaTamu"></h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6d656eae elementor-align-center wdp-sticky-section--no elementor-widget elementor-widget-button"
                            data-id="6d656eae" data-element_type="widget" id="tombol-buka"
                            data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="#home" @click="bukaUndangan" id="bukaUndangan" class="elementor-button-link elementor-button elementor-size-sm"
                                        role="button">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-left">
                                                <i aria-hidden="true" class="fas fa-envelope-open"></i> </span>
                                            <span class="elementor-button-text">BUKA UNDANGAN</span>
                                        </span>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-4328d2f7 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle wdp-sticky-section--no"
            data-id="4328d2f7" data-element_type="section" id="home" >
            <div class="elementor-container elementor-column-gap-no delay-[300ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0" data-aos="fade-up"
                
                data-aos-anchor=".other-element"
                >
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-30a37688 wdp-sticky-section--no"
                    data-id="30a37688" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-55e318a2 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="55e318a2" data-element_type="widget"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">19 Mei 2024</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-468edc8a animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="468edc8a" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Orlin &amp; Galih</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6838a54d animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="6838a54d" data-element_type="widget"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">"Dan di antara tanda-tanda
                                    (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu
                                    sendiri, agar kamu merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa
                                    kasih dan sayang."<br><br> - (QS Ar-Rum : 21) -</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-1eefe88d wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="1eefe88d" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-1017841b wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="1017841b" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-98865bb elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="98865bb" data-element_type="section" id="mempelai">
            <div class="elementor-container elementor-column-gap-no ">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-36ebdf36 wdp-sticky-section--no"
                    data-id="36ebdf36" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="delay-[300ms] duration-[600ms] taos:[transform:translate3d(200px,0,0)_scale(0.6)] taos:opacity-0" data-aos="fade-left"
                        data-aos-anchor=".other-elements"
                        data-aos-duration="1000"
                        >
                            <div class="elementor-background-overlay"></div>
                            <div class="elementor-element elementor-element-639ab882 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                                data-id="639ab882" data-element_type="widget" 
                                data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <p class="elementor-heading-title elementor-size-default">Pengantin Pria</p>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-59cbc77e animated-slow wdp-sticky-section--no elementor-widget elementor-widget-image"
                                data-id="59cbc77e" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img data-lazyloaded="1" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MDAiIGhlaWdodD0iODAwIiB2aWV3Qm94PSIwIDAgODAwIDgwMCI+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6I2NmZDRkYjtmaWxsLW9wYWNpdHk6IDAuMTsiLz48L3N2Zz4="
                                        fetchpriority="high" decoding="async" width="800" height="800"
                                        data-src="./../assets/images/pengantin-pria.webp"
                                        class="attachment-large size-large wp-image-34656 entered error" alt=""
                                        data-srcset="./../assets/images/pengantin-pria.webp 800w"
                                        data-sizes="(max-width: 800px) 100vw, 800px" data-ll-status="error"
                                        sizes="(max-width: 800px) 100vw, 800px"
                                        srcset="./../assets/images/pengantin-pria.webp 800w, ./../assets/images/pengantin-pria.webp 300w, ./../assets/images/pengantin-pria.webp 150w, ./../assets/images/pengantin-pria.webp 768w">
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-41599df wdp-sticky-section--no elementor-widget elementor-widget-heading"
                                data-id="41599df" data-element_type="widget" 
                                data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <p class="elementor-heading-title elementor-size-default">Galih Ganjar Syidik
                                        <br>
                                        (Galih)</p>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-36596465 elementor-widget-divider--view-line wdp-sticky-section--no elementor-widget elementor-widget-divider"
                                data-id="36596465" data-element_type="widget" 
                                data-widget_type="divider.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-divider">
                                        <span class="elementor-divider-separator">
                                        </span></div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1a55ef4b wdp-sticky-section--no elementor-widget elementor-widget-heading"
                                data-id="1a55ef4b" data-element_type="widget" 
                                data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">Putra Dari Bapak
                                        Supandi
                                        <br> &amp; Ibu
                                        Rosmawati</h2>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="elementor-element elementor-element-12819c1d wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="12819c1d" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>

                        <div class="delay-[300ms] duration-[600ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0" data-aos="fade-right"
                        
                        
                        data-aos-anchor=".other-element"
                        data-aos-duration="1000">
                            <div class="elementor-element elementor-element-1201c51c wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="1201c51c" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Pengantin Wanita</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6402eab0 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-image"
                            data-id="6402eab0" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img data-lazyloaded="1"
                                    
                                    decoding="async" width="800" height="800"
                                    src="./../assets/images/pengantin-wanita.webp"
                                    class="attachment-large size-large wp-image-34657" alt=""
                                    data-srcset="./../assets/images/pengantin-wanita.webp 800w"
                                    data-sizes="(max-width: 800px) 100vw, 800px"></div>
                        </div>
                        <div class="elementor-element elementor-element-2ea5921 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="2ea5921" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Maissie Orlin Ondine
                                    <br>
                                    (Orlin)</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-516eb600 elementor-widget-divider--view-line wdp-sticky-section--no elementor-widget elementor-widget-divider"
                            data-id="516eb600" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-748e4c7e animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="748e4c7e" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Putri Dari Bapak
                                    Agung Sujasaputra
                                    <br> &amp; Ibu
                                    Dewi Kartini</h2>
                            </div>
                        </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-3329ad44 elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="3329ad44" data-element_type="section" id="acara">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1217795f wdp-sticky-section--no"
                    data-id="1217795f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-364339d animated-slow wdp-sticky-section--no elementor-widget elementor-widget-image"
                            data-id="364339d" data-element_type="widget"
                            data-widget_type="image.default">
                            <div class="delay-[300ms] duration-[600ms] taos:scale-[1.2] taos:opacity-0" data-aos="zoom-left"
                        
                        
                        data-aos-duration="500"
                        data-aos-easing="ease-in"
                        
                        
                        data-aos-anchor-placement="top-center">
                                <div class="elementor-widget-container">
                                    <img data-lazyloaded="1"
                                        
                                        decoding="async" width="684" height="1024"
                                       src="./../assets/images/Foto-Desain-111-7.webp"
                                        class="attachment-large size-large wp-image-34658" alt=""
                                        data-srcset="./../assets/images/Foto-Desain-111-7.webp 684w"
                                        data-sizes="(max-width: 684px) 100vw, 684px"></div>
                            </div>
                            
                        </div>
                        
                        <div class="elementor-element elementor-element-2609ed9a animated-slow wdp-sticky-section--no elementor-widget elementor-widget-weddingpress-countdown"
                            data-id="2609ed9a" data-element_type="widget" 
                            data-widget_type="weddingpress-countdown.default">
                            <div class="elementor-widget-container">
                                <div class="wpkoi-elements-countdown-wrapper">
                                    <div class="wpkoi-elements-countdown-container wpkoi-elements-countdown-label-block">
                                        <ul id="countdown"
                                            class="wpkoi-elements-countdown-items" data-date="May 19 2024 08:00:00">
                                            <li class="wpkoi-elements-countdown-item">
                                                <div class="wpkoi-elements-countdown-days"><span data-days=""
                                                        class="wpkoi-elements-countdown-digits">00</span><span
                                                        class="wpkoi-elements-countdown-label">Hari</span></div>
                                            </li>
                                            <li class="wpkoi-elements-countdown-item">
                                                <div class="wpkoi-elements-countdown-hours"><span data-hours=""
                                                        class="wpkoi-elements-countdown-digits">00</span><span
                                                        class="wpkoi-elements-countdown-label">Jam</span></div>
                                            </li>
                                            <li class="wpkoi-elements-countdown-item">
                                                <div class="wpkoi-elements-countdown-minutes"><span data-minutes=""
                                                        class="wpkoi-elements-countdown-digits">00</span><span
                                                        class="wpkoi-elements-countdown-label">Menit</span></div>
                                            </li>
                                            <li class="wpkoi-elements-countdown-item">
                                                <div class="wpkoi-elements-countdown-seconds"><span data-seconds=""
                                                        class="wpkoi-elements-countdown-digits">00</span><span
                                                        class="wpkoi-elements-countdown-label">Detik</span></div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-59d81bdd animated-slow elementor-align-center wdp-sticky-section--no elementor-widget elementor-widget-weddingpress-datekit"
                            data-id="59d81bdd" data-element_type="widget" 
                            data-widget_type="weddingpress-datekit.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=The+Wedding+Of+Furqon+%26+Wafi&amp;dates=20230318T050000Z%2F20230318T050000Z&amp;ctz=Asia/Jakarta"
                                        class="elementor-button-link elementor-button elementor-size-sm" target="_blank"
                                        rel="nofollow" role="button">
                                        <span class="elementor-button-content-wrapper wdp-flexbox">
                                            <span class="elementor-button-text">Save The Date</span>
                                        </span>
                                    </a></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3c77759b elementor-widget-divider--view-line wdp-sticky-section--no elementor-widget elementor-widget-divider"
                            data-id="3c77759b" data-element_type="widget" 
                            data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6fbd5273 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="6fbd5273" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">AKAD NIKAH</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-72281ef9 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="72281ef9" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Minggu, 19 Mei 2024
                                    <br>
                                    Jam 08.00 WIB - Selesai</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-ffa07e0 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="ffa07e0" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">LOKASI</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7ecd3de5 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="7ecd3de5" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Rumah Mempelai Wanita</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-77b73623 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="77b73623" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Kp. Bandir RT 01 / RW 03, Manggungharja (Belakang SMPN 1 Ciparay) Kec. Ciparay, Kab. Bandung, Jawa Barat</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3a60c00b elementor-align-center animated-slow wdp-sticky-section--no elementor-widget elementor-widget-button"
                            data-id="3a60c00b" data-element_type="widget" 
                            data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="https://goo.gl/maps/gqr7Bwt43qt1J2a29"
                                        class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-left">
                                                <i aria-hidden="true" class="fas fa-map-marker-alt"></i> </span>
                                            <span class="elementor-button-text">Petunjuk Lokasi</span>
                                        </span>
                                    </a></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3d98fb2c animated-slow elementor-widget-divider--view-line wdp-sticky-section--no elementor-widget elementor-widget-divider"
                            data-id="3d98fb2c" data-element_type="widget" 
                            data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4a6bed04 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="4a6bed04" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">RESEPSI</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-94eba84 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="94eba84" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Minggu, 19 Mei 2024
                                    <br>
                                    Jam 11.00 WIB - Selesai</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-16c750ad animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="16c750ad" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">LOKASI</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-207eaad9 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="207eaad9" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Rumah Mempelai Wanita</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-214dfadd animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="214dfadd" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Kp. Bandir RT 01 / RW 03, Manggungharja (Belakang SMPN 1 Ciparay) Kec. Ciparay, Kab. Bandung, Jawa Barat</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-537a536c elementor-align-center wdp-sticky-section--no elementor-widget elementor-widget-button"
                            data-id="537a536c" data-element_type="widget" 
                            data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="https://maps.app.goo.gl/5N5vcLxPvXpugmDX6"
                                        class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-left">
                                                <i aria-hidden="true" class="fas fa-map-marker-alt"></i> </span>
                                            <span class="elementor-button-text">Petunjuk Lokasi</span>
                                        </span>
                                    </a></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-715068f wdp-sticky-section--no elementor-widget elementor-widget-html"
                            data-id="715068f" data-element_type="widget" data-widget_type="html.default">
                            <div class="elementor-widget-container">
                                <iframe data-lazyloaded="1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d428.41421361864917!2d107.72166054483968!3d-7.037927599024807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c1a93fcf4cb5%3A0x64c99b3d99447fe2!2sSMPN%201%20CIPARAY!5e0!3m2!1sid!2sid!4v1713934226490!5m2!1sid!2sid"
                                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        </div>
                        <div class="elementor-element elementor-element-5f3afb9b wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="5f3afb9b" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-4c2bde22 elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="4c2bde22" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-377f2598 wdp-sticky-section--no"
                    data-id="377f2598" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-66dd43bc animated-slow wdp-sticky-section--no elementor-widget elementor-widget-image"
                            data-id="66dd43bc" data-element_type="widget"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img data-lazyloaded="1"
                                    src="./../assets/images/Foto-Desain-111-6.webp"
                                    class="attachment-large size-large wp-image-34660" alt=""
                                    data-srcset="./../assets/images/Foto-Desain-111-6.webp 1024w, https://webundanganku.my.id/wp-content/uploads/2023/12/Foto-Desain-111-3-300x200.webp 300w, https://webundanganku.my.id/wp-content/uploads/2023/12/Foto-Desain-111-3-768x512.webp 768w, https://webundanganku.my.id/wp-content/uploads/2023/12/Foto-Desain-111-3.webp 1199w"
                                    data-sizes="(max-width: 800px) 100vw, 800px"></div>
                        </div>
                        <div class="elementor-element elementor-element-2ecc16c4 wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="2ecc16c4" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-75de8156 elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="75de8156" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e549a94 wdp-sticky-section--no"
                    data-id="6e549a94" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-1c3e49e7 wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="1c3e49e7" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Our Gallery</p>
                            </div>
                        </div>

                        <div id="default-carousel" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                                <!-- Item 1 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="./../assets/images/Foto-Desain-111-1.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                                </div>
                                <!-- Item 2 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="./../assets/images/Foto-Desain-111-6.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                                </div>
                                <!-- Item 3 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="./../assets/images/Foto-Desain-111-7.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                                </div>
                                
                            </div>
                            <!-- Slider indicators -->
                            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                                <button type="button" class="w-3 h-3 rounded-full border-0" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                                <button type="button" class="w-3 h-3 rounded-full border-0" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                                <button type="button" class="w-3 h-3 rounded-full border-0" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                                
                            </div>
                            <!-- Slider controls -->
                            <button type="button" class="absolute bg-transparent top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none border-0" data-carousel-prev>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full border-0 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button" class="absolute bg-transparent top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none border-0" data-carousel-next>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-5f969aad elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="5f969aad" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class=""
                    data-id="3fa8a60a" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-ba456d4 wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                            data-id="ba456d4" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-61ffd65a animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="61ffd65a" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                            </div>
                        </div>
                        
                        <div class="elementor-element elementor-element-c5b4310 elementor-mobile-align-center elementor-align-center wdp-sticky-section--no elementor-widget elementor-widget-button"
                            data-id="c5b4310" data-element_type="widget" id="btnAmplop" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-d6e96d elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="d6e96d" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e115ef4 wdp-sticky-section--no"
                    data-id="6e115ef4" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-143ced43 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="143ced43" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Ucapan &amp; Doa</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6f6c9b6c animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                            data-id="6f6c9b6c" data-element_type="widget" 
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Sampaikan do'a dan ucapan
                                    terbaik Anda untuk kami. Pastikan mengisi konfirmasi kehadiran agar membantu kami
                                    mempersiapkan acara ini lebih baik.</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-49a8cf6 wdp-sticky-section--no elementor-widget elementor-widget-weddingpress-commentkit"
                            data-id="49a8cf6" data-element_type="widget"
                            data-widget_type="weddingpress-commentkit.default">
                            <div class="elementor-widget-container">
                                <div class="wdp-wrapper wdp-golden wdp-border">
                                    <div class="wdp-wrap-link"><a id="wdp-link-36284"
                                            class="wdp-link wdp-icon-link wdp-icon-link-true auto-load-true"
                                            href="#"
                                            title="1 Ucapan"><i aria-hidden="true" class="fas fa-dove"> </i>
                                            <span>1</span> Ucapan</a>
                                        </div>
                                    <div id="wdp-wrap-commnent-36284" class="wdp-wrap-comments" style="display: block !important;">
                                        <div id="wdp-wrap-form-36284" class="wdp-wrap-form wdp-clearfix">
                                            <div id="wdp-container-form-36284" class="wdp-container-form wdp-no-login">
                                                <div id="respond-36284" class="respond wdp-clearfix">
                                                    <form id="guestbookForm" @submit.prevent="addGuest()">
                                                        <p class="comment-form-author wdp-field-1"><input v-model="guestReact.name" id="name"
                                                                name="name" type="text" aria-required="true"
                                                                class="wdp-input" placeholder="Nama"><span
                                                                class="wdp-required">*</span><span
                                                                class="wdp-error-info wdp-error-info-name">Mohon maaf!
                                                                Khusus untuk tamu undangan</span></p>
                                                        <div class="wdp-wrap-textarea"><textarea id="message"
                                                                class="waci_comment wdp-textarea autosize-textarea"
                                                                name="message" aria-required="true" placeholder="Ucapan"
                                                                rows="3" v-model="guestReact.message"></textarea><span
                                                                class="wdp-required">*</span><span
                                                                class="wdp-error-info wdp-error-info-text">2 characters
                                                                minimum.</span></div>
                                                        <div class="wdp-wrap-select"><select
                                                                class="waci_comment wdp-select" id="confirm" name="confirm" v-model="guestReact.confirm">
                                                                <option value="" disabled="" selected="">Konfirmasi
                                                                    Kehadiran</option>
                                                                <option value="Hadir">Hadir</option>
                                                                <option value="Tidak hadir">Tidak hadir</option>
                                                            </select><span class="wdp-required">*</span><span
                                                                class="wdp-error-info wdp-error-info-confirm">Silahkan
                                                                pilih konfirmasi kehadiran</span></div>
                                                        <div class="wdp-wrap-submit wdp-clearfix">
                                                            <input name="submit"
                                                                    value="Kirim" type="submit">
                                                        </div>
                                                    </form>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="guestbook-list">
                                            <div class="user-guestbook" v-for="(guest, index) in guests.data" :key="index">
                                                <div class="guestbook" id="guestName" >
                                                    <span id="displayName">{{ guest.name }}</span>
                                                    <a class="guestbook-name" id="displayName"></a><span class="wdp-confirm" id="displayConfirmation"> {{ guest.confirm }} <i
                                                            class="fas fa-check-circle" ></i> </span>
                                                    <div class="guestbook-message" id="displayMessage">{{ guest.message }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-78d9d037 elementor-align-center  wdp-sticky-section--no elementor-widget elementor-widget-weddingpress-guestbook"
                            >
                            <div class="elementor-widget-container">
                                
                                <div class="guestbook-box-content elementor-comment-box-wrapper" >
                                    <div class="comment-form-container">
                                    
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-6a876471 elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
            data-id="6a876471" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4605bb19 wdp-sticky-section--no"
                    data-id="4605bb19" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-2c31f857 elementor-section-boxed elementor-section-height-default elementor-section-height-default wdp-sticky-section--no"
                            data-id="2c31f857" data-element_type="section">
                            <div class="elementor-background-overlay"></div>
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5ebe766b wdp-sticky-section--no"
                                    data-id="5ebe766b" data-element_type="column" >
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-background-overlay"></div>
                                        <div class="elementor-element elementor-element-68729af6 wdp-sticky-section--no elementor-widget elementor-widget-spacer"
                                            data-id="68729af6" data-element_type="widget"
                                            data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-6985d6ce animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                                            data-id="6985d6ce" data-element_type="widget" 
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default text-3xl">Terima Kasih
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7b2611f9 animated-slow wdp-sticky-section--no elementor-widget elementor-widget-heading"
                                            data-id="7b2611f9" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Merupakan
                                                    suatu kehormatan dan kebahagiaan bagi kami, apabila
                                                    Bapak/Ibu/Saudara/i berkenan hadir dan memberikan doa restu. Atas
                                                    kehadiran dan doa restunya, kami mengucapkan terima kasih.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-44135965 elementor-section-full_width elementor-section-content-middle wdp-sticky-section--yes elementor-section-height-default elementor-section-height-default wdp-sticky-section-positon--bottom"
            data-id="44135965" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4583d1c0 wdp-sticky-section--no"
                    data-id="4583d1c0" data-element_type="column">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-background-overlay"></div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4913c5b2 wdp-sticky-section--no"
                    data-id="4913c5b2" data-element_type="column">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-background-overlay"></div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-50937e84 wdp-sticky-section--no"
                    data-id="50937e84" data-element_type="column">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-background-overlay"></div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4cda0a73 wdp-sticky-section--no"
                    data-id="4cda0a73" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-element elementor-element-42f0d48 elementor-view-default wdp-sticky-section--no elementor-widget elementor-widget-weddingpress-audio"
                            data-id="42f0d48" data-element_type="widget" data-widget_type="weddingpress-audio.default">
                            <div class="elementor-widget-container">
                                <div id="audio-container" class="audio-box">
                                    <audio id="song">
                                        <source src="./../assets/media/Beautiful-In-White-replay-reff.mp3" type="audio/mp3">
                                    </audio>
                                    <button  @click="playPause" class="inline-flex items-center justify-center p-2.5 mb-2 mx-2 font-medium bg-blue-500 rounded-full border-0 hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
                                        <svg id="playPauseIcon" class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
                                            <path id="playPath" fill-rule="evenodd" d="M0 .8C0 .358.32 0 .714 0h1.429c.394 0 .714.358.714.8v14.4c0 .442-.32.8-.714.8H.714a.678.678 0 0 1-.505-.234A.851.851 0 0 1 0 15.2V.8Zm7.143 0c0-.442.32-.8.714-.8h1.429c.19 0 .37.084.505.234.134.15.209.354.209.566v14.4c0 .442-.32.8-.714.8H7.857c-.394 0-.714-.358-.714-.8V.8Z" clip-rule="evenodd"/>
                                        </svg>
                                        <span class="sr-only">Pause video</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-7fb64491 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle wdp-sticky-section--no"
            data-id="7fb64491" data-element_type="section" >
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4eefdfe8 wdp-sticky-section--no"
                    data-id="4eefdfe8" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-566a60f4 wdp-sticky-section--no elementor-widget elementor-widget-html"
                            data-id="566a60f4" data-element_type="widget" data-widget_type="html.default">
                            <div class="elementor-widget-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import AOS from 'aos';
import 'aos/dist/aos.css';
import { reactive, ref, onMounted,computed, watchEffect, onUnmounted  } from 'vue';
import axios from 'axios'
import {useRouter} from 'vue-router'
import { useStore } from 'vuex';


export default {
    
    setup() {
        const store = useStore();
    const guests = computed(() => store.getters.getGuests);
    const guestReact = ref({
      name: '',
      message: '',
      confirm: ''
    });

    function addGuest() {
      store.dispatch('addGuest', guestReact.value);
      alert('Pesan berhasil disimpan!');
      guestReact.value = {
        name: '',
        message: '',
        confirm: ''
      };
    }

    const fetchData = () => {
      store.dispatch('fetchGuests');
    };

    // Memuat data ketika komponen dimuat
    watchEffect(() => {
      store.dispatch('fetchGuests');
    });

      
       
        const isPlaying = ref(false);
        const countdown = ref(null);
        const namaTamu = ref(null);
    const targetDate = ref(null);
        const playPause = () =>{
            const song = document.getElementById('song');
      if (isPlaying.value) {
        song.pause();
        isPlaying.value = false;
      } else {
        song.play();
        isPlaying.value = true;
      }
        };

        const bukaUndangan = () => {
      const song = document.getElementById('song');
      if (!isPlaying.value) {
        song.play();
        isPlaying.value = true;
      } else {
        song.pause();
        isPlaying.value = false;
      }
    };

     // Menginisialisasi countdown dan targetDate saat komponen dimount
     onMounted(() => {
        
        // Mendapatkan URL saat ini
        const currentUrl = window.location.href;

        // Membuat URL objek dari URL saat ini
        const url = new URL(currentUrl);


        // Mengambil nilai parameter 'to' dari URL
        const toParam = url.searchParams.get('to');

        document.getElementById("namaTamu").innerHTML = toParam;


        console.log(toParam); // Output: Test

       
      countdown.value = document.getElementById('countdown');
      targetDate.value = new Date(countdown.value.getAttribute('data-date')).getTime();
      
      // Update countdown setiap detik
      const interval = setInterval(() => {
        const now = new Date().getTime();
        const distance = targetDate.value - now;
        
        // Hitung hari, jam, menit, dan detik
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Update teks countdown
        if (countdown.value) {
          countdown.value.querySelector('.wpkoi-elements-countdown-days .wpkoi-elements-countdown-digits').innerText = days.toString().padStart(2, '0');
          countdown.value.querySelector('.wpkoi-elements-countdown-hours .wpkoi-elements-countdown-digits').innerText = hours.toString().padStart(2, '0');
          countdown.value.querySelector('.wpkoi-elements-countdown-minutes .wpkoi-elements-countdown-digits').innerText = minutes.toString().padStart(2, '0');
          countdown.value.querySelector('.wpkoi-elements-countdown-seconds .wpkoi-elements-countdown-digits').innerText = seconds.toString().padStart(2, '0');
        }
        
        // Jika waktu target telah tercapai, hentikan interval
        if (distance < 0) {
          clearInterval(interval);
        }
      }, 1000); // Interval setiap detik (1000 ms)

      fetchData();

      // Mulai interval untuk memanggil fetchData setiap 1 detik
      setInterval(fetchData, 1000);

    });

    onUnmounted(() => {
      clearInterval();
    });


     return {
        isPlaying,
        playPause,
        bukaUndangan,
        guests,
        guestReact,
        addGuest
     };
    }
}


    AOS.init();

    


</script>

