<template>
    <div class="bg-white flex items-center justify-center">
        <div class="grid grid-cols-1 justify-items-center p-8">
        <div class="max-w-lg rounded shadow-lg p-3">
            <form id="linkTamu" @submit.prevent="addTamu()">
                <div class="space-y-12">
                  <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Buat Tamu Undangan</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Isi form nama undangan kemudian klik submit nanti link undangan akan muncul di table bawah</p>
              
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                      <div class="sm:col-span-4">
                        <label for="nama" class="block text-sm font-medium leading-6 text-gray-900">Nama Tamu</label>
                        <div class="mt-2">
                          <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            
                            <input type="text" name="name" v-model="tamuReact.name" id="name" autocomplete="name" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Agung Sujasaputra">
                          </div>
                        </div>
                      </div>
                      
                      
                    </div>
                  </div>
              
                  
                </div>
              
                <div class="mt-6 flex items-center justify-end gap-x-6">
                  <router-link to="/" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mr-1">Cancel</router-link>
                  <button id="copyButton" type="submit" class="">Save</button>
                </div>
              </form>
        </div>

        <div class="max-w-lg rounded shadow-lg p-3 mt-5">
                <div class="space-y-12">
                  <div class=" border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">List Tamu Undangan</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Ini adalah list link tamu undangan dari form yang sudah di isi, silahkan klik button copy untuk mengcopy linknya</p>
              
                    <div class="mt-10">
                      <div class="sm:col-span-4" id="tamuUndangan">
                        <label for="nama" class="block text-sm font-medium leading-6 text-gray-900" id="namaTamu"></label>
                        <div class="mt-2">
                          <div class="flex justify-between rounded-md border-b shadow-sm sm:max-w-md" v-for="(guest, index) in tamus.data" :key="index">
                            <span class="text-black-400 text-sm font-bold" id="linkNya">{{ link + guest.name }}</span>
                            <button id="copyButton" @click="copyText(event, guest.name)" data-text="{{ link + guest.name }}" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Copy</button>
                          </div>
                        </div>
                      </div>
                      
                      
                      
                    </div>
                  </div>
              
                  
                </div>
            
        </div>
        
    </div>
    </div>
</template>

<script>
    import { reactive, ref, onMounted,computed, watchEffect, onUnmounted  } from 'vue';
    import axios from 'axios'
    import {useRouter} from 'vue-router'
    import { useStore } from 'vuex';

    export default {
        
        setup() {
            const store = useStore();
            const tamus = computed(() => store.getters.getTamus);
            const link = 'https://wedding-orlin-dan-galih.vercel.app?to=';
            const tamuReact = ref({
            name: ''
            });

            function addTamu() {
            store.dispatch('addTamus', tamuReact.value);
            alert('Pesan berhasil disimpan!');
            tamuReact.value = {
                name: ''
            };
            }

            const fetchData = () => {
            store.dispatch('fetchTamus');
            };

            // Memuat data ketika komponen dimuat
            watchEffect(() => {
            store.dispatch('fetchTamus');
            });

            onMounted(() => {
                fetchData();

                // Mulai interval untuk memanggil fetchData setiap 1 detik
                setInterval(fetchData, 1000);
            });

            onUnmounted(() => {
            clearInterval();
            });

            const copyText = (event, button) => {
            // Mendapatkan teks yang akan disalin dari atribut data-text pada tombol
            const guestName = encodeURIComponent(button.trim());
            const textToCopy = link + guestName;

            // Membuat elemen input untuk menyalin teks ke clipboard
            const input = document.createElement('input');
            input.setAttribute('value', textToCopy);
            document.body.appendChild(input);

            // Memilih teks dalam input
            input.select();

            // Menyalin teks ke clipboard
            document.execCommand('copy');

            // Menghapus elemen input
            document.body.removeChild(input);

            alert('Link copied');

            // Menampilkan pesan sukses atau error (opsional)
            console.log('Link copied:', textToCopy);
            }

            return {
                tamus,
                tamuReact,
                addTamu,
                link,
                copyText
            }
        }
    }
</script>

<style>
    body {
        background-color: white;
    }
</style>
